<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE aspectran PUBLIC "-//ASPECTRAN//DTD Aspectran 7.0//EN"
        "http://aspectran.github.io/dtd/aspectran-7.dtd">
<aspectran>

    <description>
        An Aspectran configuration for the Web Environment.
        Note that names of translets that match the request URI always start with a forward slash (/).
    </description>

    <bean id="freemarkerConfigurationFactory" class="com.aspectran.freemarker.FreeMarkerConfigurationFactoryBean">
        <properties>
            <item name="freemarkerSettings" type="properties">
                <entry name="incompatible_improvements">2.3.23</entry>
                <entry name="template_exception_handler">rethrow</entry>
                <entry name="default_encoding">UTF-8</entry>
                <entry name="number_format">0.####</entry>
            </item>
            <item name="templateLoaderPath">/webroot/WEB-INF/pages</item>
        </properties>
    </bean>

    <bean id="freemarkerViewDispatcher" class="com.aspectran.freemarker.view.FreeMarkerViewDispatcher">
        <description>
            Register a Freemarker View Dispatcher.
        </description>
        <properties>
            <item name="suffix">.ftl</item>
        </properties>
    </bean>

    <aspect id="webTransletSettings">
        <description>
            This aspect is for injecting default settings into translets running in the web environment.
        </description>
        <settings>
            <setting name="characterEncoding" value="utf-8"/>
            <setting name="viewDispatcher" value="freemarkerViewDispatcher"/>
        </settings>
    </aspect>

    <append resource="web/home/main.xml"/>
    <append resource="web/examples/hello-world.xml"/>
    <append resource="web/examples/gs-rest-service.xml" profile="!daemon"/>
    <append resource="web/examples/file-upload.xml" profile="!daemon"/>
    <append resource="web/terminal/translet-interpreter.xml" profile="!daemon"/>

</aspectran>